<h2>今日の予定</h2>
<table class="uk-table uk-table-small uk-table-divider" id='schedule_table'>
  <thead>
    <tr>
      <th>優先順位</th>
      <th>内容</th>
      <th>時間（予測）</th>
      <th>完了</th>
    </tr>
  </thead>
  <tbody class='schedule_data_wrap'>
    <tr>
      <%= render schedules %> 
    </tr>
  </tbody>
</table>