<div class="uk-card uk-card-body uk-card-default uk-margin-bottom">
  <h3 class="uk-card-title">今日解いた問題数</h3>
  <h4><%= "#{today_logs.count}問" %></h4>
  <%= link_to  "問題を解く", select_questions_path, class: 'uk-button uk-button-primary' %>
</div>