<div class="uk-container">
  <%= render 'number', today_logs: @today_logs %>
  <ul  class="uk-subnav uk-subnav-pill"　uk-switcher='connect: .chart_container' >
    <li class='uk-active week chart_tab'><%= link_to  "今週", '#', remote: true%></li>
    <li class='month chart_tab'><%= link_to  "今月", '#', remote: true %></li>
    <li class='year chart_tab'><%= link_to  "今年", '#', remote: true %></li>
  </ul>
  <ul class='uk-switcher uk-margin chart_container'>
    <li class='uk-active chart_week'><canvas id="week_chart" width="400" height="250"></canvas></li>
    <li class='chart_month'><canvas id="month_chart" width="400" height="250"></canvas></li>
    <li class='chart_year'><canvas id="year_chart" width="400" height="250"></canvas></li>
  </ul>
</div>


